In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as stats
import statsmodels.api as sm

In [2]:
np.random.seed(12)

In [3]:
races = ['asian','black','mongol','white','other']

In [4]:
voter_race = np.random.choice(
                #Parameters
                # ----------
                # a : 1-D array-like or int
                #     If an ndarray, a random sample is generated from its elements.
                #     If an int, the random sample is generated as if it were ``np.arange(a)``
                # size : int or tuple of ints, optional
                #     Output shape.  If the given shape is, e.g., ``(m, n, k)``, then
                #     ``m * n * k`` samples are drawn.  Default is None, in which case a
                #     single value is returned.
                # replace : boolean, optional
                #     Whether the sample is with or without replacement. Default is True,
                #     meaning that a value of ``a`` can be selected multiple times.
                # p : 1-D array-like, optional
                #     The probabilities associated with each entry in a.
                #     If not given, the sample assumes a uniform distribution over all
                #     entries in ``a``.
                # Returns
                # -------
                # samples : single item or ndarray
                #     The generated random samples

        a=races,
     size=100,
        p=[0.18,0.12,0.20,0.35,0.15]
)

In [5]:
voter_race

array(['asian', 'white', 'black', 'white', 'asian', 'other', 'other',
       'asian', 'other', 'asian', 'black', 'white', 'other', 'other',
       'asian', 'white', 'white', 'mongol', 'white', 'asian', 'white',
       'asian', 'asian', 'asian', 'mongol', 'white', 'mongol', 'white',
       'black', 'white', 'white', 'mongol', 'mongol', 'other', 'white',
       'other', 'white', 'white', 'mongol', 'mongol', 'mongol', 'other',
       'asian', 'other', 'mongol', 'mongol', 'mongol', 'mongol', 'mongol',
       'asian', 'asian', 'white', 'white', 'asian', 'mongol', 'black',
       'asian', 'white', 'mongol', 'asian', 'white', 'white', 'asian',
       'black', 'white', 'mongol', 'white', 'mongol', 'other', 'white',
       'white', 'mongol', 'mongol', 'other', 'black', 'other', 'asian',
       'white', 'asian', 'white', 'white', 'other', 'other', 'mongol',
       'white', 'other', 'white', 'mongol', 'mongol', 'black', 'other',
       'mongol', 'other', 'other', 'white', 'asian', 'other', 'other',
       'asian', 'white'], dtype='<U6')

In [6]:
voter_age = stats.poisson.rvs(loc=18,
                             mu=30,
                             size=100)

In [7]:
voter_age

array([46, 50, 45, 42, 46, 56, 47, 48, 53, 42, 53, 41, 44, 51, 46, 42, 39,
       57, 45, 48, 46, 50, 41, 50, 45, 50, 51, 44, 50, 46, 52, 57, 47, 53,
       50, 48, 48, 41, 52, 40, 48, 44, 49, 51, 46, 45, 51, 43, 53, 50, 49,
       54, 56, 41, 39, 46, 40, 48, 48, 46, 53, 50, 45, 46, 43, 52, 45, 34,
       42, 43, 45, 50, 47, 50, 56, 46, 47, 51, 55, 38, 44, 41, 49, 44, 48,
       47, 50, 49, 53, 42, 41, 48, 41, 48, 58, 42, 46, 43, 45, 43])

In [8]:
voter_frame = pd.DataFrame({"Race":voter_race,"Age":voter_age})
voter_frame

     Race  Age
0   asian   46
1   white   50
2   black   45
3   white   42
4   asian   46
..    ...  ...
95  asian   42
96  other   46
97  other   43
98  asian   45
99  white   43

[100 rows x 2 columns]

In [9]:
group = voter_frame.groupby("Race").groups
group

{'asian': [0, 4, 7, 9, 14, 19, 21, 22, 23, 42, 49, 50, 53, 56, 59, 62, 76, 78, 95, 98], 'black': [2, 10, 28, 55, 63, 74, 89], 'mongol': [17, 24, 26, 31, 32, 38, 39, 40, 44, 45, 46, 47, 48, 54, 58, 65, 67, 71, 72, 83, 87, 88, 91], 'other': [5, 6, 8, 12, 13, 33, 35, 41, 43, 68, 73, 75, 81, 82, 85, 90, 92, 93, 96, 97], 'white': [1, 3, 11, 15, 16, 18, 20, 25, 27, 29, 30, 34, 36, 37, 51, 52, 57, 60, 61, 64, 66, 69, 70, 77, 79, 80, 84, 86, 94, 99]}

In [10]:
asian = voter_age[group["asian"]]
black = voter_age[group["black"]]
mongol = voter_age[group["mongol"]]
white = voter_age[group["white"]]
other = voter_age[group["other"]]

In [11]:
stats.f_oneway(asian, black, mongol, white, other)

F_onewayResult(statistic=0.3866286902322793, pvalue=0.8177306492387393)